main {
  margin: 20px;
}

.series {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: lightcoral;
  border: 2px solid black;
  width: 100wh;
}
.favorites {
  width: 30%;
  background-color: lightcoral;
}

.results {
  width: 70%;
  background-color: lightblue;
}

p {
  width: 220px;
}
